#pfp {
	width: 300px;
	height: 300px;
	top: 2px;
	left: 2px;
	border-radius: 150px;
}

h5 {
	height: 50px;
}

#landing {
	background: #003363;
}

#contact {
	background: #003363;
}

#firstp {
	width: 300px;
	height: 300px;
}

#secondp {
	width: 300px;
	height: 300px;
}

#thirdp {
	width: 300px;
	height: 300px;
}

#gitl {
	width: 50px;
	height: 50px;
}

#linki {
	width: 40px;
	height: 40px;
}

#faceb {
	width: 60px;
	height: 60px;
}